<section class="titles-section">
  <h2 class="titles-heading">Titles</h2>
  <form method="GET" action="/">
    <input type="text" name="query" placeholder="Enter query..." value="{{query}}" />
    <input type="submit" value="Search" />
  </form>
  <ul class="titles-list">
  {{#each titles}}
    <li class="item">
      <a href="/?query={{this.url}}">
        <p class="item-title">{{this.title}}</p>
        <ol class="item-listings">
        {{#if (defined ../query)}}
          {{#each this.listings}}
            <li class="listing">{{formatDate this.date}}, {{this.venue}}, {{this.screen}}</li>
          {{/each}}
        {{else}}
          {{#each (firstThree this.listings)}}
            <li class="listing">{{formatDate this.date}}, {{this.venue}}, {{this.screen}}</li>
          {{/each}}
        {{/if}}
        </ol>
      </a>
    </li>
  {{/each}}
  </ul>
</section>